* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container, .score {
    font-size: 3.4rem;
}

.container, .score-container > span {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 6px;
    width: 300px;
    height: 300px;
}

.container > div {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.game-over {
    border: 4px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 250px;
    height: 100px;
    /* position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.game-over > p {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.unclickable {
    z-index: -1;
}

.invisible {
    visibility: hidden;
}

#play-again {
    color: white;
    background-color: rgb(238, 71, 71);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 30px;
    transition: .1s;
}

#play-again:hover {
    filter: brightness(85%);
}

.score-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.score-container > span {
    color: white;
}

.player-id {
    font-size: 1.4rem;
}